*{
    padding:0;
    margin:0;
    text-decoration: none;
}
html,body{
    display:flex;
    background-color: blue;
    height:100%;
}
#player{
    width:40px;
    height:40px;
    background-color: red;
    border-radius: 50%;
    position:absolute;
    top:50px;
}
.enemy{
    position:absolute;
    width:50px;
    height:50px;
    background-color: rgb(0, 255, 55);
}